header {
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }
  body {
    background: linear-gradient(#7A6F52, #D4C090);
  }
  h1 {
    font-size: 2em; /* Adjust the size as needed */
    background-color: blueviolet;
    border: white solid 7px;
}
.topH1 {
  font-size: 50px; /* Adjust the size as needed */
  background-color: blueviolet;
  display: block;
  text-align: center;
  border: white solid 10px;
}

  ol {
    background-color: yellow;

  }

  ul {
    background-color: yellow;
  }

  main {
    margin: 40px;
  }
 p {
  font-size: large;
  border: white solid 5px;
 }
  /* body {
    background-color: orange;
  } */
  
  p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    /* border: 1px solid red; */
    background-color: yellow;
    padding: 50px;
    /* margin: 15px 0; */
  }
  .mainContainer {
    text-align: center;
}
.olContainer {
    display: block;
    text-align: center;
    list-style-position: inside;
    border: white solid 5px;
}
.ulContainer {
  display: block;
  text-align: center;
  list-style-position: inside;
  border: white solid 5px;
}
#startButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}
#startButton:hover {
    background-color: yellow;
}
